<section id="feature_news_section" class="feature_news_section section_wrapper">
    <div class="container">
        <div class="row">

            <div class="col-md-9">
                <section class="row">
                    <div class="col-md-8">
                        <div class="feature_news_carousel">
                            <div id="featured-news-carousal" class="carousel slide" data-ride="carousel">
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active feature_news_item">
                                        <div class="item_wrapper">
                                            <div class="item_img">
                                                <img class="img-responsive" style="max-height:500px" src="~/images/equipos/hermandad.jpg" />
                                            </div> <!--item_img-->
                                            <div class="item_title_date">
                                                <div class="news_item_title">
                                                    <h2><a href="single.html">La Hermandad</a></h2>
                                                </div>
                                            </div> <!--item_title_date-->
                                        </div>	<!--item_wrapper-->
                                        @*<div class="item_content">Tras acabarse la espera, la primera fecha de la liga se realiza con éxito</div>*@
                                    </div>
                                    <div class="item feature_news_item">
                                        <div class="item_wrapper">
                                            <div class="item_img">
                                                <img class="img-responsive" style="max-height:500px" src="~/images/equipos/layorsh.jpg" />
                                            </div> <!--item_img-->
                                            <div class="item_title_date">
                                                <div class="news_item_title">
                                                    <h2><a href="single.html">CD. La Yorsh</a></h2>
                                                </div>
                                            </div> <!--item_title_date-->
                                        </div>	<!--item_wrapper-->
                                        @*<div class="item_content">Tras acabarse la espera, la primera fecha de la liga se realiza con éxito</div>*@
                                    </div>
                                    <div class="item feature_news_item">
                                        <div class="item_wrapper">
                                            <div class="item_img">
                                                <img class="img-responsive" style="max-height:500px" src="~/images/equipos/sayayines.jpg" />
                                            </div> <!--item_img-->
                                            <div class="item_title_date">
                                                <div class="news_item_title">
                                                    <h2><a href="single.html">Sayayines</a></h2>
                                                </div>
                                            </div> <!--item_title_date-->
                                        </div>	<!--item_wrapper-->
                                        @*<div class="item_content">Tras acabarse la espera, la primera fecha de la liga se realiza con éxito</div>*@
                                    </div>
                                    <!-- Left and right controls -->
                                    <div class="control-wrapper">
                                        <a class="left carousel-control" href="#featured-news-carousal" role="button" data-slide="prev">
                                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                        </a>
                                        <a class="right carousel-control" href="#featured-news-carousal" role="button" data-slide="next">
                                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div><!--carousel-inner-->
                            </div><!--carousel-->
                        </div><!--feature_news_carousel-->
                    </div>
                    <div class="col-md-4">
                        <div class="feature_news_carousel">
                            <div id="featured-news-jugador" class="carousel slide" data-ride="carousel">
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" style="height: 417px;" role="listbox">
                                    <div class="feature_news_item item active">
                                        <div class="item_wrapper">
                                            <div class="item_img">
                                                <img style="width:80%" src="~/images/jugadores/antonioRuizCruz3.png" />
                                            </div> <!--item_img-->
                                            <div class="item_title_date">
                                                <div class="news_item_title">
                                                    <h2><a>Los jugadores de la semana</a></h2>
                                                </div>
                                                <div class="item_meta"><a href="#">Fuxion FC</a></div>
                                            </div>
                                        </div>
                                        <div class="item_content">
                                            Antonio Ruiz Cruz. 7 Goles.
                                        </div>
                                    </div>
                                    <div class="feature_news_item item">
                                        <div class="item_wrapper">
                                            <div class="item_img">
                                                <img style="width:80%" src="~/images/jugadores/kevinContreras2.png" />
                                            </div> <!--item_img-->
                                            <div class="item_title_date">
                                                <div class="news_item_title">
                                                    <h2><a>Los jugadores de la semana</a></h2>
                                                </div>
                                                <div class="item_meta"><a href="#">La Hermandad</a></div>
                                            </div>
                                        </div>
                                        <div class="item_content">
                                            Kevin Contreras. 5 Goles.
                                        </div>
                                    </div>
                                    <div class="control-wrapper">
                                        <a class="left carousel-control" href="#featured-news-jugador" role="button" data-slide="prev">
                                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                        </a>
                                        <a class="right carousel-control" href="#featured-news-jugador" role="button" data-slide="next">
                                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                         <!--feature_news_item-->
                        </div><!--feature_news_static-->
                    </div>
                </section>
            <br />
                <div class="row">
                    <div class="col-md-12">
                        <div id="more_news_item2" class="more_news_item">
                            <div class="more_news_heading"><h2><a href="#">TABLA DE POSICIONES</a></h2></div>
                            <div class="row">
                                <div class="col-md-12 col-xs-12 col-sm-12">
                                    <table class="table table-responsive table-striped">
                                        <thead>
                                            <tr>
                                                <th>POS</th>
                                                <th>CLUB</th>
                                                <th>PTS</th>
                                                <th>PJ</th>
                                                <th>PG</th>
                                                <th>PE</th>
                                                <th>PP</th>
                                                <th>GF</th>
                                                <th>GC</th>
                                                <th>DIF</th>
                                            </tr>

                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Fuxion</td>
                                                <td>3</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>0</td>
                                                <td>0</td>
                                                <td>18</td>
                                                <td>1</td>
                                                <td>17</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Hermandad</td>
                                                <td>3</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>0</td>
                                                <td>0</td>
                                                <td>10</td>
                                                <td>4</td>
                                                <td>6</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>La yorsh</td>
                                                <td>3</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>0</td>
                                                <td>0</td>
                                                <td>5</td>
                                                <td>0</td>
                                                <td>5</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Sayayines</td>
                                                <td>3</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>0</td>
                                                <td>0</td>
                                                <td>4</td>
                                                <td>1</td>
                                                <td>3</td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>Renca Jr.</td>
                                                <td>3</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>0</td>
                                                <td>0</td>
                                                <td>7</td>
                                                <td>4</td>
                                                <td>3</td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>Sin Restricción</td>
                                                <td>0</td>
                                                <td>1</td>
                                                <td>0</td>
                                                <td>0</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>4</td>
                                                <td>-3</td>
                                            </tr>
                                            <tr>
                                                <td>7</td>
                                                <td>Galacticos</td>
                                                <td>0</td>
                                                <td>1</td>
                                                <td>0</td>
                                                <td>0</td>
                                                <td>1</td>
                                                <td>4</td>
                                                <td>7</td>
                                                <td>-3</td>
                                            </tr>
                                            <tr>
                                                <td>8</td>
                                                <td>Futbol es vida</td>
                                                <td>0</td>
                                                <td>1</td>
                                                <td>0</td>
                                                <td>0</td>
                                                <td>1</td>
                                                <td>4</td>
                                                <td>10</td>
                                                <td>-6</td>
                                            </tr>
                                            <tr>
                                                <td>9</td>
                                                <td>Trinchera</td>
                                                <td>0</td>
                                                <td>1</td>
                                                <td>0</td>
                                                <td>0</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>18</td>
                                                <td>-17</td>
                                            </tr>
                                            <tr>
                                                <td>10</td>
                                                <td>Jairo Torres</td>
                                                <td>-1</td>
                                                <td>0</td>
                                                <td>0</td>
                                                <td>0</td>
                                                <td>1</td>
                                                <td>0</td>
                                                <td>5</td>
                                                <td>-5</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="more_news_item" class="more_news_item">
                            <div class="more_news_heading"><h2><a href="#">NOTICIAS</a></h2></div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="feature_news_item">
                                        <div class="item">
                                            <div class="item_wrapper">
                                                <div class="item_img">
                                                    <img class="img-responsive" src="~/images/news/inauguracion2.png" />
                                                    
                                                </div><!--item_img-->
                                                <div class="item_title_date">
                                                    <div class="news_item_title">
                                                        <h3><a href="#">Apertura sitio web.</a></h3>
                                                    </div><!--news_item_title-->
                                                    <div class="item_meta"><a href="#">25 Octubre, 2018</a></div>
                                                </div><!--item_title_date-->
                                            </div><!--item_wrapper-->
                                            <div class="item_content">
                                                ¡Todos bienvenidos!
                                            </div><!--item_content-->
                                        </div><!--item-->
                                    </div><!--feature_news_item-->
                                </div><!--col-xs-4-->

                                <div class="col-md-4">
                                    <div class="feature_news_item">
                                        <div class="item active">
                                            <div class="item_wrapper">
                                                <div class="item_img">
                                                    <img class="img-responsive" src="~/images/news/3.jpg" />
                                                </div><!--item_img-->
                                                <div class="item_title_date">
                                                    <div class="news_item_title">
                                                        <h3><a href="#">Primera Fecha</a></h3>
                                                    </div><!--news_item_title-->
                                                    <div class="item_meta"><a href="#">22 Octubre, 2018</a></div>
                                                </div><!--item_title_date-->
                                            </div><!--item_wrapper-->
                                            <div class="item_content">
                                                Revisa nuestra galería de imágenes
                                            </div><!--item_content-->
                                        </div><!--item-->
                                    </div><!--feature_news_item-->
                                </div><!--col-xs-4-->
                                <div class="col-md-4">
                                    <div class="feature_news_item">
                                        <div class="item active">
                                            <div class="item_wrapper">
                                                <div class="item_img">
                                                    <img class="img-responsive" src="~/images/news/auspicio.jpg" />
                                                </div><!--item_img-->
                                                <div class="item_title_date">
                                                    <div class="news_item_title">
                                                        <h3><a href="#">Se nuestro auspiciador</a></h3>
                                                    </div><!--news_item_title-->
                                                    <div class="item_meta"><a href="#">26 Octubre, 2018</a> by:<a href="#">Jhonson</a></div>
                                                </div><!--item_title_date-->
                                            </div><!--item_wrapper-->
                                            <div class="item_content">
                                                Apoya el deporte y proyecta tu negocio
                                            </div><!--item_content-->
                                        </div><!--item-->
                                    </div><!--feature_news_item-->
                                </div><!--col-xs-4-->
                            </div><!--row-->
                        </div><!--more_news_item-->
                    </div>
                </div>

            </div><!--col-md-6-->

            <div class="col-md-3">

                <div class="tab sitebar">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#1" data-toggle="tab">PRÓXIMA FECHA</a></li>
                        <li><a href="#2" data-toggle="tab">FECHA ANTERIOR</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="1">
                            <div class="media proximosPartidos">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <img class="img-responsive" title="Renca Junior" src="~/images/clubes/rencaJunior.jpg" />
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <a>Dom 28 Oct 2018</a>
                                        <h5><a>19:00 hrs.</a></h5>

                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <img class="img-responsive" title="Sin Restricción" src="~/images/clubes/sinImagen.png" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <a>RJR</a>
                                        <h5>Renca Jr.</h5>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <a>VS.</a>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <a>SNR</a>
                                        <h5>Sin Rest.</h5>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="media proximosPartidos">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <img class="img-responsive" title="Jairo Torres" src="~/images/clubes/jairotorres.png" />
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <a>Dom 28 Oct 2018</a>
                                        <h5><a>20:00 hrs.</a></h5>

                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <img class="img-responsive" title="Galácticos" src="~/images/clubes/sinImagen.png" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <a>JTO</a>
                                        <h5>J. Torres</h5>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <a>VS.</a>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <a>GAL</a>
                                        <h5>Galácticos</h5>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="media proximosPartidos">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <img class="img-responsive" title="CD La Yorsh" src="~/images/clubes/layorsh.jpg" />
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <a>Dom 28 Oct 2018</a>
                                        <h5><a>21:00 hrs.</a></h5>

                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <img class="img-responsive" title="Hermandad" src="~/images/clubes/Hermandad.png" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <a>LYO</a>
                                        <h5>La Yorsh</h5>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <a>VS.</a>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <a>HER</a>
                                        <h5>Hermandad</h5>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="media proximosPartidos">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <img class="img-responsive" title="Futbol es Vida" src="~/images/clubes/futbolesVida.png" />
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <a>Dom 28 Oct 2018</a>
                                        <h5><a>22:00 hrs.</a></h5>

                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <img class="img-responsive" title="Trinchera" src="~/images/clubes/trinchera.png" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <a>FEV</a>
                                        <h5>F. es Vida</h5>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <a>VS.</a>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <a>TRI</a>
                                        <h5>Trinchera</h5>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="media proximosPartidos">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <img class="img-responsive" title="Fuxion" src="~/images/clubes/Fuxion.png" />
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <a>Dom 28 Oct 2018</a>
                                        <h5><a>23:00 hrs.</a></h5>

                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <img class="img-circle img-responsive" title="Sayayines" src="~/images/clubes/sayayines.jpg" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <a>FUX</a>
                                        <h5>Fuxion</h5>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <a>VS.</a>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <a>SAY</a>
                                        <h5>Sayayines</h5>
                                    </div>
                                </div>
                            </div>
                        </div><!--tab-pane-->
                        <div class="tab-pane" id="2">
                            <div class="media proximosPartidos">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <img class="img-responsive" title="Renca Junior" src="~/images/clubes/rencaJunior.jpg" />
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <a>Dom 21 Oct 2018</a>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <img class="img-responsive" title="Galacticos" src="~/images/clubes/sinImagen.png" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <a>RJR (7)</a>
                                        <h5>Renca Jr.</h5>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <a>VS.</a>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <a>GAL (4)</a>
                                        <h5>Galácticos</h5>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="media proximosPartidos">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <img class="img-responsive" title="Hermandad" src="~/images/clubes/Hermandad.png" />
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <a>Dom 21 Oct 2018</a>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <img class="img-responsive" title="Futbol es vida" src="~/images/clubes/futbolesVida.png" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <a>HER (10)</a>
                                        <h5>Hermandad</h5>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <a>VS.</a>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <a>FEV (4)</a>
                                        <h5>F. es Vida</h5>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="media proximosPartidos">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <img class="img-responsive" title="Jairo Torres" src="~/images/clubes/jairotorres.png" />
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <a>Dom 21 Oct 2018</a>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <img class="img-responsive" title="CD La Yorsh" src="~/images/clubes/layorsh.jpg" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <a>JTO (0)</a>
                                        <h5>J. Torres</h5>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <a>VS.</a>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <a>LYO (5)</a>
                                        <h5>La Yorsh</h5>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="media proximosPartidos">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <img class="img-responsive img-circle" title="Sayayines" src="~/images/clubes/sayayines.jpg" />
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <a>Dom 21 Oct 2018</a>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <img class="img-responsive" title="Sin restricción" src="~/images/clubes/sinImagen.png" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <a>SAY (4)</a>
                                        <h5>Sayayines</h5>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <a>VS.</a>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <a>SNR (1)</a>
                                        <h5>Sin Rest.</h5>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="media proximosPartidos">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <img class="img-responsive" title="Trinchera" src="~/images/clubes/trinchera.png" />
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <a>Dom 21 Oct 2018</a>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <img class="img-responsive" title="Fuxion" src="~/images/clubes/Fuxion.png" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <a>TRI (1)</a>
                                        <h5>Trinchera</h5>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <a>VS.</a>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <a>FUX (18)</a>
                                        <h5>Fuxion</h5>
                                    </div>
                                </div>
                            </div>
                            <hr />
                        </div><!--tab-pane-->
                    </div><!--tab-content-->
                </div>
                <img class="img-responsive" src="~/images/auspiciadores/2.jpg" />
                @*<img class="img-responsive" src="~/images/auspiciadores/lacombi.jpg" />
                <img class="img-responsive" src="~/images/auspiciadores/auspiciador1.jpg" />*@
            </div>
        </div><!--row-->
    </div><!--container-->
</section><!--feature_news_section-->
